<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.lengend.coordinatorlayout">


    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.org.lengend.coordinatorlayout.CoordinatorActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.org.lengend.coordinatorlayout.DemoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.org.lengend.coordinatorlayout.ProfileActivity"
            android:theme="@style/AppTheme" />


    </application>


</manifest>
